[core]
server = irc.freenode.net
port = 6667
nick = 
password = 
home_channel = 
admin = 
version = Natychan v14.88 NHL

[qdb]
apikey = 
password = 

[log]
path = 
rollover = midnight

[texts]
path = 
